@page "/login"
@page "/"

<div class="row g-3">
    <ValidateForm Model="@SignInModel" OnValidSubmit="((e)=>SignIn())">
        <div class="row g-3">
            <div class="col-12">
                <BootstrapInput PlaceHolder="youremail@test.test"
                                @bind-Value="@SignInModel.Email"
                                IsAutoFocus="true"
                                IsSelectAllTextOnFocus="true"
                                ShowLabel="true"
                                DisplayText="Email address" />
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <BootstrapInput @bind-Value="@SignInModel.Password"
                                IsSelectAllTextOnFocus="true"
                                ShowLabel="true"
                                DisplayText="Password"
                                type="password"/>
            </div>
        </div>
        <div class="row g-3 form-inline mt-0">
            <div class="col-12">
                <Button ButtonType="ButtonType.Submit" Icon="fa-fw fa-solid fa-floppy-disk" Text="Submit" IsAsync="true"></Button>
            </div>
        </div>
        <div class="row g-3 form-inline mt-0">
            <NavLink href="register">Register here</NavLink>
        </div>
    </ValidateForm>
</div>