@if (!Initialised)
{
    <button class="rounded-lg bg-surface px-4 py-6 flex flex-row space-x-4 text-text">
        <div class="flex flex-row space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
            <span>Add a workout</span>
        </div>
    </button>
}
else
{
    @if (!IsEdit)
    {
        <button class="rounded-lg bg-surface px-4 py-6 flex flex-row space-x-4 text-text" @onclick="@ToggleModal">
            <div class="flex flex-row space-x-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
                <span>Add a workout</span>
            </div>
        </button>
    }
    else
    {
        <button @onclick="@ToggleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </button>
    }

    <EditModal @ref="@ModalWorkout" Model="@Workout">
        <EditGroup Title="General">
            <div class="flex flex-row space-x-2">
                <div class="flex flex-col w-1/5">
                    <label for="number" class="text-sm">Number</label>
                    <InputNumber @bind-Value=Workout.DayNumber id="number" class="bg-surface rounded-sm border border-(--color-subtext) px-2" />

                </div>
                <div class="flex flex-col grow">
                    <label for="name" class="text-sm">Name</label>
                    <InputText @bind-Value=Workout.Name id="name" class="bg-surface rounded-sm border border-(--color-subtext) px-2" />
                </div>
            </div>

        </EditGroup>
        <div class="flex flex-col space-y-1">
            <label for="description" class="text-sm text-text">Description</label>
            <InputTextArea @bind-Value=Workout.Description id="description" class="bg-surface rounded-sm border border-(--color-subtext) px-2 grow max-h-48" rows="8" />
        </div>
    </EditModal>
}