@page "/welcome"
@attribute [Authorize]

@if (!Initialised)
{
    <div class="bg-gray-600 rounded-xl p-4 flex justify-between items-center">
        <div class="animate-pulse ">
            <div class="h-2 w-80 rounded bg-gray-200"></div>
            <div class="h-2 w-40 rounded bg-gray-200"></div>
        </div>
    </div>
}
else
{
    <h1>
        Bievenue {User.Name}
    </h1>
    <subtitle>
        Prêt pour une nouvelle séances ?
    </subtitle>
    <div class="rounded-2xl bg-surface p-2 space-y-2">
        <h3>
            Semaine en cours
        </h3>
        <p>
            {obj.CountLastWorkout} / {obj.WorkoutPhase.Count} entraînements réalisés
        </p>
        <div class="bg-background w-full h-2">
            <div class="bg-(--color-primary) w-48 h-2"></div>
        </div>
        <button class="p-2 bg-(--color-secondary) rounded-lg">
            <subtitle>Voir plus</subtitle>
        </button>
    </div>
    <button class="p-2 bg-(--color-primary) rounded-lg">
        <h3>Commencer l'entraînement</h3>
    </button>

    <div class ="p-4 space-y-2 grow flex flex-col">
        <h3>Derniers entraînements</h3>

        @* Boucle pour les dernier entrainement ICI *@
        <div class="p-4 space-y-2 flex flex-row bg-surface">
            <div class="bg-(--color-primary) w-1 h-full"></div>
            <div class="p-4 space-y-2 grow flex flex-col">
                <subtitle>Entrainements 1</subtitle>
                <a class="text-caption text-subtext">{obj.TempsTotal} - {obj.PoidsTotal} kg</a>
            </div>
            <div class="flex">
                <button class="text-subtext self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
}