
<div class="container bg-dark w-100 h-100">
    @if (!Initialised)
    {
        <div class="card mb-3">
            <div class="card-body placeholder-glow">
                <h5 class="card-title placeholder col-10"></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary placeholder col-6"></h6>
            </div>
        </div>
    }
    else
    {
        @foreach (var section in Workout.Sections)
        {
            <div class="card mb-3">
                <div class="card-subtitle">
                    @(section.Section.ToString())
                </div>
                @foreach (var exercise in section.Exercises)
                {
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body placeholder-glow">
                                <h5 class="card-title placeholder col-10"></h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary placeholder col-6"></h6>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
}
</div>