@page "/"
@layout WorkoutPlanner.Components.Layout.LoginLayout
@attribute [Authorize]

<div class="d-flex justify-content-center align-items-center vh-100">
    <Spinner Size="Size.ExtraLarge" Color="Color.Info"></Spinner>
</div>