@page "/"
@layout WorkoutPlanner.Components.Layout.LoginLayout
@attribute [Authorize]

<div class="flex content-center items-center h-full">
    <Spinner Size="Size.ExtraLarge" Color="Color.Info"></Spinner>
</div>