@page "/workout"
@* @layout WorkoutPlanner.Components.Layout.WIPLayout *@
@attribute [Authorize]
@using WorkoutPlanner.Components.Pages;
@using WorkoutPlanner.Components.Pages.Plan;

@if (!Initialised)
{
    <div class="bg-gray-600 rounded-xl p-4 flex justify-between items-center">
        <div class="animate-pulse ">
            <div class="h-2 w-80 rounded bg-gray-200"></div>
            <div class="h-2 w-40 rounded bg-gray-200"></div>
        </div>
    </div>
}
else if (Programs.Count < 1 && Initialised)
{
        <WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())" ></WorkoutPlanEditView>
}
else
{
    <div class="bg-gray-600 rounded-xl p-4 flex justify-between items-center">
        <div>
            <h3 class="font-semibold text-base text-text">@Program.Name</h3>
            <h6 class="text-sm text-text">@Program.Goal.ToString()</h6>
        </div>
        <div class="ml-auto my-auto">
            @* <WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())" Program="Program"></WorkoutPlanEditView> *@
        </div>
    </div>

    <PhaseListView Program="@Program" OnPhaseChange="(()=>OnProgramChanged())"></PhaseListView>
}