@page "/workout"
@attribute [Authorize]

@if (!Initialised)
{
    <div class="row">
        <div class="col-12 card">
            <div class="card-body placeholder-glow">
                <h5 class="card-title placeholder col-10"></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary placeholder col-6"></h6>
            </div>
        </div>
    </div>
}
else if (Programs.Count < 1 && Initialised)
{
        <WorkoutPlanner.Components.Pages.WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())" ></WorkoutPlanner.Components.Pages.WorkoutPlanEditView>
}
else
{
    <div class="row">
        <div class="card rounded-4 flex-row text-bg-tertiary">
            <div class="card-body ps-0">
                <h3 class="card-title">@Program.Name</h3>
                <h6 class="card-subtitle">@Program.Goal.ToString()</h6>
            </div>
            <div class="ms-auto my-auto">
                <WorkoutPlanner.Components.Pages.WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())" Program="Program"></WorkoutPlanner.Components.Pages.WorkoutPlanEditView>
            </div>
        </div>
    </div>

    <WorkoutPlanner.Components.Pages.Plan.PhaseListView Program="@Program" OnPhaseChange="(()=>OnProgramChanged())"></WorkoutPlanner.Components.Pages.Plan.PhaseListView>
}