@if (!Initialised)
{
    <Button IsOutline=true Color="Color.Secondary" IsDisabled=true><i class="bi bi-plus-circle"></i> Add a phase</Button>
}
else
{
    @if (!IsEdit)
    {
        <Button OnClick="@ToggleModal" Color="Color.None" ButtonStyle="ButtonStyle.None" Size="Size.ExtraExtraLarge" class="fs-3 text-primary-emphasis"><i class="bi bi-plus-circle"></i> Add a phase</Button>
    }
    else
    {
        <Button OnClick="@ToggleModal" Color="Color.None" Icon="bi bi-pencil" ButtonStyle="ButtonStyle.None" Size="Size.ExtraLarge"></Button>
    }

    <Modal @ref="ModalPhase">
        <ModalDialog ShowFooter=false ShowHeader=false>
            <BodyTemplate>
                <ValidateForm Model="Phase" ShowRequiredMark=false OnValidSubmit="OnValidSubmit" DisableAutoSubmitFormByEnter="true">
                    <div class="col-12">
                        <BootstrapInput @bind-Value="@Phase.Name"/>
                    </div>
                    <div class="col-12">
                        <BootstrapInputNumber @bind-Value="@Phase.Cycle" />
                    </div>
                    <div class="col-12">
                        <Select Items="ScheduleTypes" OnSelectedItemChanged="OnScheduleTypeChanged" @bind-Value="Phase.ScheduleType"></Select>
                    </div>
                    <div class="col-12">
                <button type="button" class="btn btn-secondary" @onclick="OnCancel">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </ValidateForm>
            </BodyTemplate>
        </ModalDialog>
    </Modal>
}