@inherits LayoutComponentBase

<div class="container-fluid vh-100 bg-primary" >
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>
            <NavMenu />
        </Authorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <div class="p-2 px-lg-4">
        @Body
    </div>
</div>