<ul class="nav justify-content-center fixed-bottom border-top bg-secondary">
    <li class="nav-item">
        <NavLink class="nav-link" href="workout">
            Workout
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">
            Progress
        </NavLink>
    </li>
</ul>