<nav class="bg-surface text-text px-4 py-2 shadow-[0_-4px_8px_rgba(0,0,0,0.25)] flex items-center justify-around">
    <NavLink class="text-text-muted hover:text-primary transition flex flex-col" href="welcome">
            @* <i class="bi bi-house-door-fill text-xl"></i> *@
        <span>Home</span>
        </NavLink>
    <NavLink class="text-text-muted hover:text-primary transition flex flex-col" href="workout">
            @* <i class="bi bi-house-door-fill text-xl"></i> *@
        <span>Workout</span>
        </NavLink>
    <NavLink class="text-text-muted hover:text-primary transition flex flex-col" href="counter">
            @* <i class="bi bi-house-door-fill text-xl"></i> *@
        <span>Progress</span>
        </NavLink>
</nav>
