@page "/workout"
@attribute [Authorize]
@using WorkoutPlanner.Components.Pages;
@using WorkoutPlanner.Components.Pages.Workout.Plan;

@if (!Initialised)
{
    <div class="bg-gray-600 rounded-xl p-4 flex justify-between items-center">
        <div class="animate-pulse ">
            <div class="h-2 w-80 rounded bg-gray-200"></div>
            <div class="h-2 w-40 rounded bg-gray-200"></div>
        </div>
    </div>
}
else if (Programs.Count < 1 && Initialised)
{
    <div class="bg-(--color-text-muted) rounded-xl p-4 flex justify-between items-center">
        <WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())"></WorkoutPlanEditView>
    </div>
}
else
{
    <div class="bg-(--color-text-muted) rounded-xl p-4 flex justify-between items-center">
        <div class="space-y-2">
            <h2>@Program.Name</h2>
            <subtitle>@Program.Goal.ToString()</subtitle>
        </div>
        <div class="ml-auto self-start">
            <WorkoutPlanEditView OnProgramChange="(()=>OnProgramChanged())" Program="Program"></WorkoutPlanEditView>
        </div>
    </div>

    <PhaseListView Program="@Program" OnPhaseChange="(()=>OnProgramChanged())"></PhaseListView>
}